@model Trabajo_Grupal.Models.Producto
@{
    ViewData["Title"] = "Detalles del Producto | ";
}
<style>
  .card-text{
    text-align: justify;
  }
  .title{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 5xp;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .container-detalle{
    padding-left: 8%;
    padding-right: 8%;
  }
  .guide {
    padding-left: 2%;
    color: black;
  }
</style>
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function mostrarPopup(mensaje) {
            Swal.fire({
                icon: 'info',
                title: 'Mensaje',
                text: mensaje,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok'
            });
        }

        function addToCart() {
            var userID = '@User.Identity.Name';
            if (!userID || userID === '') {
                mostrarPopup('Por favor, debe loguearse antes de añadir al carrito.');
            }

        function addToFavorites() {
            var userID = '@User.Identity.Name';
            if (!userID || userID === '') {
                mostrarPopup('Por favor, debe loguearse antes de agregar a favoritos.');
            }
    </script>
}
<div class="container-detalle">
    <div class="title">
        <a class="guide" asp-area="" asp-controller="Catalogo" asp-action="Index"><b>Catálogo</b></a> > <a color="black"><b>@Html.DisplayFor(model => model.Name)</b></a> 
    </div>
    <div class="row">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="card-img-actions">
                        <img class="img-responsive" width="300" height="500" src="@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.ImageName)" />

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
                    <h5 class="card-title">Precio: s/.@Html.DisplayFor(model => model.Precio)</h5>
                    <h5 class="card-title">Autor: @Html.DisplayFor(model => model.Autor)</h5>
                    <h5 class="card-title">Genero: @Html.DisplayFor(model => model.Genero)</h5>
                    <h5 class="card-title">Editorial: @Html.DisplayFor(model => model.Editorial)</h5>
                    <h5 class="card-title">Paginas: @Html.DisplayFor(model => model.Npag)</h5>
                    <h5 class="card-title">Idioma: @Html.DisplayFor(model => model.Idioma)</h5>
                    <h5 class="card-title">Año de Publicacion: @Html.DisplayFor(model => model.año)</h5>

                    <a class="btn btn-link" asp-action="Add" asp-route-id="@Model.Id" title="Añadir al carrito"><i class="fa-solid fa-basket-shopping" style="color: #581908;"></i></a>
                    <a class="btn btn-link" asp-action="Add1" asp-route-id="@Model.Id" title="Mis Favoritos"><i class="fa-solid fa-heart" style="color: #581908;"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
