@model IEnumerable<Trabajo_Grupal.Models.Producto>

@{
    ViewData["Title"] = "Catalogo | ";
}
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        function mostrarPopup(mensaje) {
            Swal.fire({
                icon: 'info',
                title: 'Mensaje',
                text: mensaje,
                confirmButtonColor: '#3085d6',
                confirmButtonText: 'Ok'
            });
        }

        function add() {
            // Aquí puedes agregar lógica adicional si es necesario
            var userID = '@User.Identity.Name';
            if (!userID || userID === '') {
                mostrarPopup('Por favor, debe loguearse antes de añadir al carrito.');
            }
        }

        function add1() {
            // Aquí puedes agregar lógica adicional si es necesario
            var userID = '@User.Identity.Name';
            if (!userID || userID === '') {
                mostrarPopup('Por favor, debe loguearse antes de agregar a favoritos.');
            }
        }
    </script>
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Poppins:wght@300;400;500&display=swap"
    rel="stylesheet">

    <style>
        .container-catalogo{
            padding-left: 8%;
            padding-right: 8%;
        }
        .card.mb-3{
            border-color: #ebf5ee;
            border-width: 3px;
        }
        .container-catalogo .title{
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            font-weight: bold;
             color: #581908;
            font-family: 'Kanit', sans-serif;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
    </style>

    <div class="container-catalogo">
        <div class="title">
            <h1>CATÁLOGO DE PRODUCTOS</h1>
        </div>
        <h1>@ViewData["Message"]</h1>
        <div class="row">
            <div class="col">
                <div id="products" class="mb-3">
                    <div class="row">
                        @foreach (var item in Model){
                            <div class="col-sm-4">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="card-img-actions">
                                            <img  class="card-img-top" width="100" height="500" src="@item.ImageName" alt="@item.ImageName">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <p class="card-text">S/. @Html.DisplayFor(modelItem => item.Precio)</p>
                                        <a class="btn btn-link" asp-action="Details" asp-route-id="@item.Id" title="Ver detalles"><i class="fa-solid fa-book" style="color: #581908;"></i></a>
                                        <a href="#" class="btn btn-link" onclick="add()" title="Añadir al carrito"><i class="fa-solid fa-basket-shopping" style="color: #581908;"></i></a>
                                        <a href="#" class="btn btn-link" onclick="add1()" title="Mis Favoritos"><i class="fa-solid fa-heart" style="color: #581908;"></i></a>

                                    </div>
                                </div>
                            </div> 
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>