@model IEnumerable<Trabajo_Grupal.Models.Producto>

@{
    ViewData["Title"] = "Catalogo | ";
}

    <style>
        .container-catalogo{
            padding-left: 8%;
            padding-right: 8%;
        }
        .card.mb-3{
            border-color: #ebf5ee;
            border-width: 3px;
        }
        .title{
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            background-color: #bcabae;
            margin-top: 15px;
            margin-bottom: 15px;
            border-radius: 5px;
        }
    </style>

    <div class="container-catalogo">
        <div class="title">
            <h1>CATÁLOGO DE PRODUCTOS</h1>
        </div>
        <h1>@ViewData["Message"]</h1>
        <div class="row">
            <div class="col">
                <div id="products" class="mb-3">
                    <div class="row">
                        @foreach (var item in Model){
                            <div class="col-sm-4">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="card-img-actions">
                                            <img  class="card-img-top" width="200" height="600" src="@item.ImageName" alt="@item.ImageName">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <p class="card-text">S/. @Html.DisplayFor(modelItem => item.Precio)</p>
                                        <a onclick="add()" class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id" >Add</a>
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View</a>
                                        <a onclick="add1()" class="btn btn-primary" asp-action="Add" asp-route-id="@item.Id" >love</a>
                                    </div>
                                </div>
                            </div> 
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>