@model List<Trabajo_Grupal.DTO.BookDTO>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Subtitle</th>
                <th>ISBN13</th>
                <th>Price</th>
                <th>Image</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => book.title)</td>
                    <td>@Html.DisplayFor(modelItem => book.subtitle)</td>
                    <td>@Html.DisplayFor(modelItem => book.isbn13)</td>
                    <td>@Html.DisplayFor(modelItem => book.price)</td>
                    <td>@Html.DisplayFor(modelItem => book.image)</td>
                    <td>@Html.DisplayFor(modelItem => book.url)</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hay datos para mostrar.</p>
}