@model IEnumerable<Trabajo_Grupal.DTO.ITBooksDTO>

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Search", "ITBooks", FormMethod.Get)){
    <input type="text" name="searchString" placeholder="Buscar libros"> <!-- Input para ingresar el término de búsqueda -->
    <input type="submit" value="Buscar"> <!-- Botón de envío del formulario -->
}

<table>
    <tr>
        <th>title</th>
        <th>subtittle</th>
        <th>isbn13</th>
        <th>price</th>
        <th>ImageName</th>
        <th>url</th>
    </tr>
    @foreach (var book in Model)
    {
        <tr>
            <td>@book.title</td>
            <td>@book.subtittle</td>
            <td>@book.isbn13</td>
            <td>@book.price</td>
            <td>@book.ImageName</td>
            <td>@book.url</td>
        </tr>
    }
</table>

@if (Model == null || !Model.Any())
{
    <p>No se encontraron libros.</p>
}