@model dynamic;
@using System.Collections.Generic;


@{
    ViewData["Title"] = "Mi Lista";
    IEnumerable<Trabajo_Grupal.Models.MiLista> listItemsMiLista = new List<MiLista>();
    listItemsMiLista = @Model.elementosMiLista;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" src="/Images/loguito.png"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/fav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Trabajo_Grupal.styles.css" asp-append-version="true" />
</head>

<body>

<div class="wrapper">
		<h1><i class="fa-solid fa-folder-open" style="color: #581908;"></i> Lista de Favoritos</h1>
		<div class="project">
			<div class="shop">
                @foreach (MiLista item in Model.elementosMiLista) {
				<div class="box">

					<img src="@item.Producto.ImageName" alt="@item.Producto.ImageName" width="100" height="150" />
					<div class="content">
                        <div class="txt">
						<h4>Libro: <td class="cont2">@Html.DisplayFor(modelItem => item.Producto.Name)</td></h4>
						<h4>Precio: <td>S/.@Html.DisplayFor(modelItem => item.Precio)</td></h4>
                        
                        </div>

                        <div class="area-boton">
                            <a class="btn-area btn btn-link" asp-action="Add" asp-route-id="@item.Producto.Id"><i class="fa-solid fa-basket-shopping fa-xl" style="color: #581908;"></i></a>
                             <a class="btn-area btn btn-link" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-x fa-xl" style="color: #581908;"></i></a> 
                        
                        </div>
                        
                        
					</div>
				</div>
                }
				
				
			</div>
			
		</div>
	</div>

</body>
</html>
