@model dynamic;
@using System.Collections.Generic;


@{
    ViewData["Title"] = "Mi Lista";
    IEnumerable<Trabajo_Grupal.Models.MiLista> listItemsMiLista = new List<MiLista>();
    listItemsMiLista = @Model.elementosMiLista;
}

<h1>Lista de Deseos</h1>
 

<table class="table">
    <thead>
        <tr>
            <th></th>
            
            <th>
                @Html.DisplayNameFor(model1 => listItemsMiLista.FirstOrDefault().Producto.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model1 => listItemsMiLista.FirstOrDefault().Precio)
            </th>
        </tr>
    </thead>
    <tbody>
 @foreach (MiLista item in Model.elementosMiLista) {
                            <tr>
                                <td><img src="@item.Producto.ImageName" alt="@item.Producto.ImageName" width="100" height="150" /></td>
                                <td>@Html.DisplayFor(modelItem => item.Producto.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                                <td>


                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                </td>
                            </tr>
}
    </tbody>
</table>